<div class="bg-light px-md-4 py-md-3 text-uppercase font-weight-bold">
    Order Summary
</div>

<div class="p-md-4">
    <p class="font-italic mb-md-4">Shipping costs will be added depending on choices made during checkout</p>
    <ul class="list-unstyled mb-md-4" *ngIf="(basketTotal$ | async)">
        <li class="d-flex justify-content-between py-md-3 border-bottom">
            <strong class="text-muted">Order subtotal</strong>
            <strong class="">{{ (basketTotal$ | async).subtotal | currency }}</strong>
        </li>
        <li class="d-flex justify-content-between py-md-3 border-bottom">
            <strong class="text-muted">Shipping and handling</strong>
            <strong class="">{{ (basketTotal$ | async).shipping | currency }}</strong>
        </li>
        <li class="d-flex justify-content-between py-md-3 border-bottom">
            <strong class="text-muted">Total</strong>
            <strong class="">{{ (basketTotal$ | async).total | currency }}</strong>
        </li>
    </ul>
</div>